
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    
    
}
.btn{
    width: 75px;
    height: 75px;
    margin: 15px;
    font-size: 50px;
}

.number:hover{
    background-color: green;

}

.number{
    border: 2px solid green;
    border-radius: 10px;
}
.operator:hover{
    background-color: red;

}
.operator{
    border: 2px solid red;
    border-radius: 10px;
}
.equals:hover{
    background-color: yellow;

}
.equals{
    border: 2px solid yellow;
    border-radius: 10px;
}
.decimal:hover{
    background-color: black;

}
.decimal{
    border: solid black;
    border-radius: 10px;
}
#clear-btn:hover{
    background-color: violet;

}
#clear-btn{
    border: 2px solid violet;
    border-radius: 10px;
}
.h1{
    font-size: 50px;
    width: 75px;
    height: 75px;
    font-weight: bold;
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#screen{
    width: 300px;
    height: 75px;
    border: solid salmon;
    margin: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous {
    font-size: 20px;
}
.current{
    font-size: 30px;
}